*{
    box-sizing: border-box;
}

.container-fluid{
    background-color: black;
    height: 100vh;
    overflow: hidden;
}

.nav-bg{
    background-color: #060c36;
}
.nav-link{
    color: white !important;
}

.nav-item:hover{
    background-color: #27338f;
}